:root {
  --color-primary: #d73953;
  --color-black: #090909;
  --color-white: #ffffff;
  --color-light-grey: #f3f3f3;
  --color-dark-grey: #353535;
  --text-color: var(--color-black);
}

.section-tagline, .card-category {
  color: var(--color-primary);
}

body, a {
  color: var(--text-color);
}
